/*paging.css*/
.paging { text-align: center;font-size:0; }
.paging a,.paging .PgUp.disable:hover { margin-right: 4px }
.paging a,.paging .PgUp.disable:hover, .paging a,.paging .PgDn.disable:hover {
    text-align: center;
    display: inline-block;
    height: 29px;
    border: 1px solid #ccc;
    background: #f4f4f4;
    color: #333;
    font: normal 14px/29px Arial, serif;
    cursor: pointer;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
}
.paging a:hover, .paging a.current {  background: #4a64a3; border-color: #4a64a3; color: #fff }
.paging span { display: inline-block; margin: 0}
.paging .PgUp, .paging .PgDn { width: 61px }
.paging .PgDn { margin-right: 0 }
.paging a.num { padding: 0 10px;}
.paging a.one_digit { width: 24px }
.paging a.double_digit { width: 42px }
.paging a.three_digit { width: 59px }
.paging .PgUp.disable, .paging .PgDn.disable, .paging .PgUp.disable:hover, .paging .PgDn.disable:hover { color: #ccc; cursor: not-allowed }
