/*base.css*/
html,body{ color:#333; font-family: Arial,SimSun,sans-serif }
html { font-size: 14px; color: #222; height: 100% }
body { height: 100%; min-height: 100% }
*{ outline:none;}
.clearfix:before, .clearfix:after { content: ""; display: table }
.clearfix:after { clear: both }
.clearfix { *zoom:1 }
.clear { clear: both }
/*左右浮动*/
.fl { float: left }
.fr { float: right }
.fn { float: none }
/*居左右中*/
.tl { text-align: left }
.tc { text-align: center }
.tr { text-align: right }
/*常用宽度*/
.w1200 { width: 1200px; margin: 0 auto }
.w1180 { width: 1180px; margin: 0 auto }
.w980 { width: 980px; margin: 0 auto }
/*链接通用颜色*/
a {
    color: #3262A2;
    text-decoration: none;
    -webkit-transition: color .2s ease-out, border-color .2s ease-out;
    -moz-transition: color .2s ease-out, border-color .2s ease-out;
    -ms-transition: color .2s ease-out, border-color .2s ease-out;
    transition:  color .2s ease-out, border-color .2s ease-out
}
a:hover { color: #6DA1E2; text-decoration: none }
/*输入框*/
input[type="text"],input[type="password"] {
    padding: 0 8px;
    height: 37px;
    resize: none;
    color: #444;
    border: 1px solid #999;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border-color .2s ease-out;
    -moz-transition: border-color .2s ease-out;
    -ms-transition: border-color .2s ease-out;
    transition: border-color .2s ease-out;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus { border-color: #555; box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.2) }
input[type="text"].disabled, input[type="password"].disabled { background: #e8e8e8 }
textarea {
    border: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border-color: #999;
    resize: none;
    -webkit-transition: border-color .2s ease-out;
    -moz-transition: border-color .2s ease-out;
    -ms-transition: border-color .2s ease-out;
    transition: border-color .2s ease-out;
}
input::-ms-clear {display:none }
input::-ms-reveal {display:none }
textarea::-webkit-input-placeholder { color: #ADADAD }
input::-webkit-input-placeholder { color: #ADADAD }
textarea::-moz-placeholder { color: #ADADAD }
input::-moz-placeholder { color: #ADADAD }
textarea:-ms-input-placeholder { color: #ADADAD }
input:-ms-input-placeholder { color: #ADADAD }
/*间隔*/
.height_0,.height_5,.height_10,.height_15,.height_17,.height_20,.height_30,.height_40,.height_50,.height_60,.height_170
{ width: 100%; clear: both; overflow: hidden }
.height_0 { height: 0 }
.height_5 { height: 5px }
.height_10 { height: 10px }
.height_15 { height: 15px }
.height_17 { height: 17px }
.height_20 { height: 20px }
.height_30 { height: 30px }
.height_40 { height: 40px }
.height_50 { height: 50px }
.height_60 { height: 60px }
.height_170 { height: 170px }
/*常用属性*/
.hide { display: none!important }
.ib { display: inline-block }

/*form.css*/
.row{ margin-bottom: 24px; *zoom:1 }
.row:before, .row:after {content: "";display: table }
.row:after {clear: both }
.row .rt,.row .rc{ float: left }
.row .rt { min-height: 37px; line-height: 37px; width: 112px; text-align: right }
.row .rc { margin-left: 8px }
.row .rc .bf { font: bold 14px/37px Arial, sans-serif }
.row .rc .con { font-size: 0 }
.row .rc .con p, .row .rc .con span, .row .rc .con textarea { font-size: 14px; letter-spacing: normal }
@media all and (-webkit-min-device-pixel-ratio:0){
/*.row .rc .con { letter-spacing: -4px}*//*safari Hack,解决inline-block的前面空格*/
}
.row .rc .con .txt { line-height: 37px; font-size: 14px }
.row .rc input[type="text"],.row .rc input[type="password"]{
    line-height: 37px\9;
    width: 260px;
    vertical-align: middle;
    font-size: 14px;
    letter-spacing: 0;
    -webkit-transition: border-color .2s ease-out;
    -moz-transition: border-color .2s ease-out;
    -ms-transition: border-color .2s ease-out;
    transition: border-color .2s ease-out;
}
.row .rc .des {
    margin-left: 10px;
    line-height: 37px;
    vertical-align: middle;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 0;
}
.row .rc .illus { clear: both; font-size:12px; color: #666; line-height: 23px; letter-spacing: 0px;}
.row .rc .illus .ibox { padding:10px 14px; width: 280px; border: 1px solid #ffbebc; background: #fff1f1; color: #666}
.row .rc .illus .ibox .t { margin-bottom: 3px; height: 18px; line-height: 18px;}
.row .rc .illus .ibox .c { line-height: 18px;}

.row .rc .item { display: inline-block; height: 37px; margin-right: 30px; vertical-align: middle }
.row .rc .item input,.row .rc .item label { display: inline-block; line-height: 37px; vertical-align: middle; font-size: 14px }
.row .rc .item label { padding-left: 8px; font-size: 14px }
.row .rc .inact .ibox {
    padding:10px 14px;
    /*width: 280px;*/
    border: 1px solid #999;
    background: #f4f4f4;
    color: #666;
    font-size: 12px;
}
.row .rc .inact .ibox p { line-height: 37px }
.row .rc .inact .ibox i { font-style: normal }
.row .rc .inact .ibox span { margin-left: 27px }
.Validform_checktip {
    margin-left: 8px;
    display: inline-block;
    vertical-align: middle;
    height: 37px;
    padding-left: 23px;
    line-height: 36px;
    font-size: 12px!important;
    color: #ccc;
    letter-spacing: 0;
}

.row .rc .verMsg {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    height: 37px;
    padding-left: 23px;
    background: url(../images/icon_verify.png) 0 10px no-repeat;
    line-height: 36px;
    font-size: 12px;
}
.row .rc .verMsg.error,.Validform_wrong { background: url(../images/icon_verify.png) 0 -27px no-repeat; color: #d15552}
.Validform_right { background: url(../images/icon_verify.png) 0 10px no-repeat; color: #15B260}
#Validform_msg { display: none}

.choose_auth_method { margin: auto; display: block; width: 804px}
.choose_auth_method a {
    float: left;
    display: inline-block;
    padding: 41px 20px 56px;
    width: 320px;
    height: 63px;
    border: 2px solid #c8c8c8;
    border-radius: 3px;
    text-align: center;
    background: #fff;
    color: #666;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
.choose_auth_method a:hover { background: #467ec9; color: #fff; border-color: #3d6eb0;}
.choose_auth_method a.lft {margin-right: 76px}
.choose_auth_method a h1 { margin-bottom: 21px; font: normal 28px/28px "Microsoft YaHei",sans-serif;}
.choose_auth_method a p { font-size: 14px}

/*reset.css*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}

.show-editor ul{ list-style:circle; margin-left:25px;}
.show-editor ol{ list-style:decimal; margin-left:25px;}
.show-editor a{text-decoration:underline;}
.show-editor b{font-weight:bold;}
.show-editor strong{font-weight:bold;}
.show-editor em{font-style:italic;}
.show-editor i{font-style:italic;}
.show-editor strong em{ font-weight:bold;}
.show-editor em strong{font-style:italic;}

