.guide{margin-top:20px;}
.guide h4{ font: bold 16px "Microsoft YaHei", sans-serif; color: #222 }
.guide .guide-one{float:left; width:386px;}
.guide .guide-one div{padding-right:20px; border-right:1px solid #ddd;}
.guide .guide-two{float:left; width:406px;}
.guide .guide-two div{padding:0 20px;  border-right:1px solid #ddd;}
.guide .guide-three{float:left; width:386px;}
.guide .guide-three div{padding-left:20px;}
.guide h3{font-size:16px; font-family:"Microsoft Yahei", sans-serif; color:#222; height:26px; line-height:26px;}
.guide p{font-size:12px; color:#333; line-height:24px; margin-top:8px;}
.guide p a{padding:0 6px;}
.index_focusImg_ccz_btn{position:absolute; width:176px; height:48px; top:187px; opacity:0; filter:alpha(opacity=0); background:red; display:none;}

.web-nav{margin-top:42px; height:498px; overflow:hidden;}
.web-nav-list{float:left; width:960px; margin-right:30px; margin-left:-40px;}
.web-nav-list .nav-list-item{width:280px; float:left; margin-left:40px; padding-bottom:30px;}
.web-nav-list .nav-list-item h2{width:260px; height:160px; padding-bottom:14px;}
.web-nav-list .nav-list-item dl{ width:280px; height:60px; overflow:hidden;}
.web-nav-list .nav-list-item dt{float:left; width:40px; height:52px; background:#a5b4dd; color:#fff; font-family:"Microsoft Yahei", sans-serif; text-align:center; padding-top:8px; position:relative;}
.web-nav-list .nav-list-item dd{float:left; width:230px; height:60px; font-size:12px; margin-left:9px;}
.web-nav-list .nav-list-item dd span{display:block; margin-left:-10px; width:230px; padding:4px 0;}
.web-nav-list .nav-list-item dd span a{float:left; color:#555555; padding:0 10px; border-left:1px solid #e5e5e5; height:12px; line-height:14px;}
.web-nav-list .nav-list-item dd span a:hover{color:#0c0b0b;}
.web-nav-list .new-list-item li{padding:4px 0; height:12px; line-height:12px;}
.web-nav-list .new-list-item li a{color:#555555; height:14px; overflow:hidden; display:block; line-height:14px;}
.web-nav-list .new-list-item li a:hover{color:#0c0b0b;}

.web-news{width:230px; height:495px; background:#f2f2f2; float:left;}
.web-news .news-content{border-top:2px solid #727272; padding:0 20px;}
.web-news .news-content .news-h{ height:245px; overflow:hidden;}
.web-news .news-content .news-title{height:26px; line-height:26px; margin-top:8px;}
.web-news .news-content .news-title h3{float:left; font-family:"Microsoft Yahei", sans-serif; font-size:16px; font-weight:bold;}
.web-news .news-content .news-title a {
    float:right;
    font-size:12px;
    color:#444;
    width:47px;
    height:24px;
    border:1px solid #ddd;
    line-height:24px;
    background:#fff;
    text-align:center;
    -webkit-transition: color .2s ease-out, border-color .2s ease-out, background-color .2s ease-out;
    -moz-transition: color .2s ease-out, border-color .2s ease-out, background-color .2s ease-out;
    -ms-transition: color .2s ease-out, border-color .2s ease-out, background-color .2s ease-out;
    transition: color .2s ease-out, border-color .2s ease-out, background-color .2s ease-out
}
.web-news .news-content .news-title a:hover { color: #FFF; border-color: #4764AD; background: #5B7AC9 }
.web-news .news-content .news-title a.loading { background:url(../images/loading.gif) no-repeat center center }
.web-news .news-content .news-list{ margin-top:12px;}
.web-news .news-content .news-list li{font-size:12px; height:19px; line-height:19px; padding-left:12px; position:relative; padding-bottom:8px;}
.web-news .news-content .news-list li i{position:absolute; background:#919191; top:10px; left:5px; width:2px; height:2px;}
.web-news .news-content .news-list li a{color:#444; display:block; height:20px; overflow:hidden;}
.web-news .news-content .news-list li a:hover{ text-decoration:underline;}

.web-news .news-content .news-app{ height:234px; overflow:hidden;}
.web-news .news-content .app-list{ margin-left:-20px;}
.web-news .news-content .app-list a { float:left; width:50px; height:50px; background:url('../images/app_icon.png') no-repeat; margin-left:20px; margin-top:14px; }
.web-news .news-content .app-list a.wy{ background-position:0 0 }
.web-news .news-content .app-list a.xlwb{ background-position: -70px 0 }
.web-news .news-content .app-list a.rrw{ background-position: -140px 0 }
.web-news .news-content .app-list a.sohu{ background-position: 0 -64px }
.web-news .news-content .app-list a.tb{ background-position: -70px -64px }
.web-news .news-content .app-list a.jd{ background-position: -140px -64px }
.web-news .news-content .app-list a.bd{ background-position: 0 -128px }
.web-news .news-content .app-list a.gg{ background-position: -70px -128px }
.web-news .news-content .app-list a.ht{ background-position: -140px -128px }

.web-join-zk{position:relative; width:1180px; height:240px; overflow:hidden;}
.web-join-zk a{position:absolute; width:302px; height:52px; top:144px; right:124px;}

/*首页 通用模块标题*/
.homepage_module_top { margin-bottom: 14px; line-height: 26px }
.homepage_module_top .module_tittle { font-family: "Microsoft YaHei", sans-serif; font-weight: bold; font-size: 18px; color: #555 }
.homepage_module_top .more { font-family: SimSun, serif; font-size:12px; color: #666 }
.homepage_module_top .more:hover { color: #3262A2 }
.homepage_module_top .more i {
    margin-left: 2px;
    display: inline-block;
    width: 4px;
    height: 8px;
    background: -4px 0 url("../images/icon_small_left_right.png") no-repeat
}
.homepage_module_top .contribution { margin-left: 39px; font-size: 14px }
.homepage_module_top .contribution em { margin-left: 10px; font-weight: bold; color: #B01616 }

/*首页 通用横幅*/
.homepage_guide_img .guide_img { display: block; width: 1180px; height: 140px }
.homepage_guide_img .guide_img.area { background: url("../temp/cw_area.jpg") no-repeat }

/*首页 人气专家*/
.popular_experts .experts_lists { width: 950px; height: 410px }
.popular_experts .experts_lists .lists {  }
.popular_experts .experts_lists .lists li { margin:0 38px 30px 0;}
.popular_experts .experts_lists .lists .u-info { width: 278px;}
.popular_experts .experts_lists .lists .u-info .avatar { float: left; width: 70px; height: 70px;}
.popular_experts .experts_lists .lists .u-info .con { float: left; margin-left: 8px;}
.popular_experts .experts_lists .lists .u-info a .name {
    display: block;
    color: #333;
    font-size: 12px;
    font-weight: 700;
    line-height: 2
}
.popular_experts .experts_lists .lists .u-info .des {
    width: 192px;
    height: 40px;
    font-size: 12px;
    color: #666;
    line-height: 1.8;
    word-break: break-all;
    overflow: hidden
}
.popular_experts .experts_comments { padding: 18px 20px; width: 190px; height: 374px; background: #F5F5F5; font-size: 12px }
.popular_experts .experts_comments .comment_objective {
    margin-bottom: 2px;
    line-height: 20px;
    height: 20px;
    overflow: hidden
}
.popular_experts .experts_comments .comment_content {
    margin-bottom: 8px;
    height: 54px;
    line-height: 18px;
    overflow: hidden;
}
.popular_experts .experts_comments .expert_name { line-height: 17px }
.popular_experts .experts_comments .cutting_line { margin: 18px 0; border-bottom: 1px solid #DDD }

/*首页 创意指数排行榜*/
.cw_index_rank_lists .rank_lists .rank_list { border: 1px solid #DDD }
.cw_index_rank_lists .rank_lists .rank_list.area { border-right: none; width: 293px }
.cw_index_rank_lists .rank_lists .rank_list.school { border-right: none; width: 291px }
.cw_index_rank_lists .rank_lists .rank_list.gov { border-right: none; width: 296px }
.cw_index_rank_lists .rank_lists .rank_list.enterprise { width: 295px }
.cw_index_rank_lists .rank_lists .rank_list .rank_list_tittle {
    padding: 0 18px 0 20px;
    height: 38px;
    background: #F5F5F5
}
.cw_index_rank_lists .rank_lists .rank_list.area .rank_list_tittle { width: 255px }
.cw_index_rank_lists .rank_lists .rank_list.school .rank_list_tittle { width: 253px }
.cw_index_rank_lists .rank_lists .rank_list.gov .rank_list_tittle { width: 258px }
.cw_index_rank_lists .rank_lists .rank_list.enterprise .rank_list_tittle { width: 257px }
.cw_index_rank_lists .rank_lists .rank_list .rank_list_tittle h3 {
    float: left;
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 14px;
    line-height: 38px;
    height: 38px;
    color: #333;
}
.cw_index_rank_lists .rank_lists .rank_list .rank_list_tittle span {
    float: right;
    font-size: 12px;
    line-height: 40px;
    height: 38px;
    color: #999
}
.cw_index_rank_lists .rank_lists .rank_list .rank { padding: 0 18px 0 20px }
.cw_index_rank_lists .rank_lists .rank_list .rank li { height: 32px; line-height: 32px; font-size: 0 }
.cw_index_rank_lists .rank_lists .rank_list .rank li i {
    margin-right: 14px;
    vertical-align: middle;
    font-style: normal;
    font-size: 14px
}
.cw_index_rank_lists .rank_lists .rank_list .rank li.top3 i { color: #F30100 }
.cw_index_rank_lists .rank_lists .rank_list .rank li img {
    margin-right: 8px;
    vertical-align: middle;
    width: 22px;
    height: 22px
}
.cw_index_rank_lists .rank_lists .rank_list .rank li em {
    display: inline-block;
    max-width: 115px;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #333;
    -webkit-transition: color .2s ease-out;
    -moz-transition: color .2s ease-out;
    -ms-transition: color .2s ease-out;
    transition: color .2s ease-out
}
.cw_index_rank_lists .rank_lists .rank_list .rank li a:hover em { color: #3262A2 }
.cw_index_rank_lists .rank_lists .rank_list .rank li span {
    float: right;
    display: inline-block;
    text-align: right;
    max-width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #8B8B8B;

}

/*首页 朋友圈动态*/
.about_my_friends .circle-content { float: left; padding-right: 48px; width: 835px }
.about_my_friends .circle-aside { float: right; width: 296px; border-left: 1px solid #DDD }
.about_my_friends .circle-aside .circle_rank_list { padding-left: 20px }
.about_my_friends .circle-aside .circle_rank_list .circle_rank_list_tittle {
    padding: 0 10px;
    height: 34px;
    line-height: 34px;
    background: #EFEFEF
}
.about_my_friends .circle-aside .circle_rank_list .circle_rank_list_tittle span { font-size: 12px; color: #555 }
.about_my_friends .circle-aside .circle_rank_list .circle_rank_list_tittle span.last { margin-left: 20px }
.about_my_friends .circle-aside .circle_rank_list .rank_list li {
    padding-right: 10px;
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #EDEDED;
    font-size: 0
}
.about_my_friends .circle-aside .circle_rank_list .rank_list i {
    margin-right: 10px;
    font-size: 12px;
    font-style: normal;
    vertical-align: middle
}
.about_my_friends .circle-aside .circle_rank_list .rank_list .top3 i { color: #F30100 }
.about_my_friends .circle-aside .circle_rank_list .rank_list img {
    margin-right: 6px;
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 3px;
    vertical-align: middle
}
.about_my_friends .circle-aside .circle_rank_list .rank_list em {
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
    color: #333;
    max-width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-transition: color .2s ease-out;
    -moz-transition: color .2s ease-out;
    -ms-transition: color .2s ease-out;
    transition: color .2s ease-out
}
.about_my_friends .circle-aside .circle_rank_list .rank_list a:hover em { color: #3262A2 }
.about_my_friends .circle-aside .circle_rank_list .rank_list span {
    float: right;
    width: 62px;
    font-size: 12px;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #8B8B8D;
}
.about_my_friends .circle-aside .circle_rank_list .rank_list span.coin {
    margin-left: 20px;
}