.edui-container{
    position: relative;
    border: 1px solid #d4d4d4;
    box-shadow: 2px 2px 5px #d3d6da;
    background-color: #fff;
}
.edui-container .edui-toolbar{
    position: relative;
    width:auto;
    border-bottom: 1px solid #e1e1e1;
    box-shadow: 2px 2px 5px #d3d6da;
    background-color: #fafafa;
    z-index: 99999;
}
.edui-toolbar .edui-btn-toolbar{
    position: relative;
    padding: 5px;
}
.edui-container .edui-editor-body{
    background-color: #fff;
}
.edui-editor-body .edui-body-container{
	word-break:break-all;
}

.edui-editor-body .edui-body-container p{margin:5px 0;}
.edui-editor-body .edui-body-container{
    border:0;
    outline:none;
    cursor:text;
    padding:0 10px 0;
    overflow:auto;
    display:block;
    word-wrap:break-word;
    font-size:16px;
    font-family:sans-serif;
}
.edui-editor-body.focus{border:1px solid #5c9dff}
.edui-editor-body table{margin:10px 0 10px;border-collapse:collapse;display:table;}
.edui-editor-body td{padding: 5px 10px;border: 1px solid #DDD;}